.dsc-cart-count {
    position: absolute;
    top: -10px;      /* sobe a bolinha */
    right: -11px;     /* aproxima da borda direita */
    background: #ff3d00;
    color: #fff;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: normal;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.icon-cart-container {
    position: relative;
    display: inline-block;
}